- provide(:title, 'About')
%h1 About
%p
  The mission of mailforever is to provide users with sophisticated options about their email rules and policies.
  
  Please email sri149@gmail.com for any feedback or requests.
