- provide(:title, 'About')
%h1 About
%p
  The mission of UniCloud is to provide users with sophisticated options to deal with all their cloud accounts and their contents.
  
  Please email sri149@gmail.com for any feedback or requests.
