.center.hero-unit
  %h1 MailForever
  %h2
    Create your own email lists and rules here. Its easy and free to use.
    Just signup for free and dive in!
  = link_to "Sign up now!", signup_path, :class => "btn btn-large btn-primary"
