.center.hero-unit
  %h1 UniCloud 
  %h2
    One place to organize all your cloud accounts. Its easy and free to use.
    Just signup for free and dive in!
  = link_to "Sign up now!", signup_path, :class => "btn btn-large btn-primary"
